<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>TimeZones</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">TimeZones</a>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 panel-body">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#login-panel" role="tab" data-toggle="tab">Log In</a></li>
                    <li role="presentation"><a href="#signup-panel" role="tab" data-toggle="tab">Sign Up</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in panel-body" role="tabpanel" id="login-panel">
                        <form th:action="@{/login}" method="post" class="form-group">
                            <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                You have been logged out.
                            </div>
                            <div class="form-group">
                                <input name="username" type="text" class="form-control" placeholder="User Name" />
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Your Password" />
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary">Login</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade panel-body" id="signup-panel">
                        <form th:action="@{/signup}" method="post" class="form-group">
                            <div th:each="error : ${errors}" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span th:text="${error}"></span>
                            </div>
                            <div class="form-group">
                                <input name="username" type="text" class="form-control" placeholder="User Name" />
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Your Password" />
                            </div>
                            <div class="form-group">
                                <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary">Sign Up</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/login.js}"></script>
</body>
</html>
